<div *ngIf="currentActivity" class="main">
  <div class="activity-message" [innerHtml]="currentActivity.message | safeHtml"></div>

  <div *ngIf="type==activityType.GUI" id="keyReceiver" class="component" (keydown)="onKeydown($event)" tabindex="1">
    <div *ngIf="answerIsCorrect == false" class="error">Your answer is incorrect, please try again</div>
    <div *ngIf="answerIsCorrect == true" class="success">Congratulations, you have completed this activity! We'll send you an email when your next activity is ready.</div>
  </div>

  <div *ngIf="type==activityType.Online">
  </div>

  <div *ngIf="type==activityType.Scramble || type==activityType.Hunt" class="field component">
    <label>Answer:
      <input [(ngModel)]="answer" type="text" placeholder="enter your answer">
    </label>
    <button (click)="onSubmitClick()">Submit</button>
    <div *ngIf="inputIsValid == false" class="error">You must enter an answer to submit</div>
    <div *ngIf="answerIsCorrect == false" class="error">Your answer is incorrect, please try again</div>
    <div *ngIf="answerIsCorrect == true" class="success">Congratulations, you have completed this activity! We'll send you an email when your next activity is ready.</div>
  </div>

  <div *ngIf="type==activityType.Trivia" class="component">
    <div *ngFor="let choice of currentActivity.choices">
      {{choice.option}}: {{choice.value}}
    </div>
    <button (click)="onSubmitClick()">Submit</button>
    <div *ngIf="inputIsValid == false" class="error">You must enter an answer to submit</div>
    <div *ngIf="answerIsCorrect == false" class="error">Your answer is incorrect, please try again</div>
    <div *ngIf="answerIsCorrect == true" class="success">Congratulations, you have completed this activity! We'll send you an email when your next activity is ready.</div>
  </div>
</div>

<div *ngIf="!currentActivity">
  <div *ngIf="nextActivity">
    <div class="next-activity">Your next activity is scheduled for {{nextActivity.start_datetime | date:'M/d/yy H:mm'}}</div>
  </div>
  <div *ngIf="!currentActivity && !nextActivity">
    <div class="no-activity">You have no scheduled activities</div>
  </div>
</div>
