html, body {
  background: url(assets/images/HackWeek2018-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: 'pcap_terminalbold';
  src: url('assets/fonts/pcap_terminal_bold-webfont.woff2') format('woff2'),
  url('assets/fonts/pcap_terminal_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

h1 {
  font-family: 'pcap_terminalbold';
  color: #fafafa;
  letter-spacing: 6px;
  margin-top: 2em;
}

.entryForm {
  box-shadow: 0px 0px 22px #002dd3;
  display: flex;
  margin: 2em auto;
  flex-direction: column;
  padding: 2em;
  max-width: 40%;
  background-color:rgba(0, 0, 0, 0.7);
  text-align: left;
  color: #a3aac4;
  font-family: "Lucida Console", Monaco, monospace;
}

.entryForm .field {
  padding: 1em 0;
}

.entryForm .field label {
  display: flex;
  flex-direction: column;
}

.entryForm .field label input {
  padding: 1em 0;
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: thin #292e42 solid;
  color: #fff;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 20px;
  outline: none;
}

.entryForm button {
  cursor: pointer;
  outline: 0;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 18px;
  border-radius: 25px;
  padding: .7em 0;
  color: #fff;
  border: 0;
  width: 190px !important;
  text-align: center;
  margin: 0 auto;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4500d1+0,f60efe+100 */
  background: #4500d1; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #4500d1 0%, #f60efe 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #4500d1 0%,#f60efe 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #4500d1 0%,#f60efe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4500d1', endColorstr='#f60efe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

::-webkit-input-placeholder {
  color:transparent;
}

:-moz-placeholder { /* Firefox 18- */
  color:transparent;
}

::-moz-placeholder {  /* Firefox 19+ */
  color:transparent;
}

:-ms-input-placeholder {
  color:transparent;
}

.hackweekLogo {
  margin: 2em auto;
  text-align: center;
}

.container {
  text-align: center;
}

.success {
  color: #44f386;
}

.error {
  color: #f34444;
  padding: 2em 0 1em 0;
}

li {
  background-color: white;
}

.next-activity, .no-activity {
  font-family: 'pcap_terminalbold';
  color: #fafafa;
  letter-spacing: 6px;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}
