<div class="mainBG">
  <h1>Shall we play a game?</h1>
  <div class="entryForm">
  <div class="field">
    <label>Please select the quest you would like to join.</label>
    <ul class="regionSelector">
      <li *ngFor="let quest of quests" (click)="onQuestClick(quest._id)" [class.selected]="selectedQuestId === quest._id">{{quest.name}}</li>
    </ul>
  </div>
    <div class="field">
      <label>Name:
        <input [(ngModel)]="name" id="nameInput" type="text" tabindex="0">
      </label>
    </div>
    <div class="field">
      <label>Email:
        <input [(ngModel)]="email" id="emailInput" type="text" tabindex="0">
      </label>
    </div>
    <button (click)="onJoinClick()">Join</button>
    <div *ngIf="inputIsValid == false" class="error">You must select a quest and provide your name and a valid CollabNet email to join</div>
  </div>
  <div class="hackweekLogo">
    <img src="../assets/images/HackWeek2018.png" />
  </div>
</div>
